<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="Constr" value="Server=ITSI-Prakash\SQL2014;Database=CRI;User Id=sa;Password=Testsys10;"/>
    <add key="OracleConStr1" value="User Id=system;Password=indiawin;Data Source=(DESCRIPTION = (ADDRESS = (PROTOCOL = TCP)(HOST = localhost)(PORT = 1521))(CONNECT_DATA = (SERVICE_NAME = CRI)))"/>
    <add key="OracleConStr" value="User Id=system;Password=Testsys10;Data Source=(DESCRIPTION = (ADDRESS = (PROTOCOL = TCP)(HOST = localhost)(PORT = 1521))(CONNECT_DATA = (SERVICE_NAME = orclitsi)))"/>
    <!--<add key="OracleConStr" value="User Id=ITCOUTH;Password=welcome;Data Source=(DESCRIPTION = (ADDRESS = (PROTOCOL = TCP)(HOST = 192.168.50.212)(PORT = 1532))(CONNECT_DATA = (SERVICE_NAME = OCT8011)))"/>-->
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Runtime, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
        <add assembly="Microsoft.Build.Tasks.v4.0, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="Microsoft.Build, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Runtime, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
        <add assembly="Oracle.DataAccess, Version=2.112.1.0, Culture=neutral, PublicKeyToken=89B483F429C47342"/>
      </assemblies>
    </compilation>
  </system.web>
  <system.webServer>
    <httpErrors errorMode="Detailed"/>
  </system.webServer>
</configuration>